/* ****banner style ****  */
.banner-creative {
  padding: 15% 0;
}
.banner-creative .banner-img > img {
  left: -15px;

  top: -38%;
}

@media screen and (max-width: 1199px) {
  .banner-creative .banner-img > img {
    top: -18%;
  }
}

@media screen and (max-width: 991px) {
  .banner-creative .banner-img > img {
    position: relative;

    width: auto;

    float: none !important;

    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .banner-creative {
    padding: 30px 0;
  }
}

.cover-background {
  position: relative !important;
  background-size: cover !important;
  overflow: hidden !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.margin-30px-bottom {
  margin-bottom: 30px;
}

.float-right {
  float: right !important;
}

.width-100 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
/* ***list style****  */
.english .list-style li:after {
  content: '';

  position: absolute;

  right: -22px;

  top: 6px;

  width: 16px;

  height: 16px;

  background: #134892;

  -webkit-border-radius: 100px;

  -moz-border-radius: 100px;

  border-radius: 100px;

  z-index: 1;
}

.english .list-style li:hover {
  padding-left: 40px;
}
.cover-img {
  background-image: 'url(./ctaBg.png)';
}
