.navigation {
  text-align: right;
  height: 70px;
  line-height: 70px;
}
.menuNav {
  margin: 0 30px 0 0;
  position: relative;
  z-index: 3;
}
.grey-co {
  color: #6f6f6f !important;
}
.menuNav a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0;
  line-height: 70px;
  padding: 15px 1%;
}
.menuNav a:hover {
  text-decoration: none;
  color: gray;
  margin: 0;
  line-height: 70px;
  padding: 15px 1%;
  border-bottom: 2px solid #0a377f;
}
.active {
  border-bottom: 2px solid #0a377f;
  color: gray;
}

#labelToggel {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#togglebox {
  display: none;
}

.brand {
  display: inline-block;
  width: 200px;
}
.headerLogo {
  max-width: 80%;
}
.float-left {
  float: left;
}

.wt-bg {
  background: #fff;
  padding: 18px 0;
  border-radius: 12px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.35);
}
.blue-bg {
  background: #0a377f;
  border-radius: 12px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.35);
}
.line-def {
  border-right: 1px solid rgba(229, 226, 226, 0.89);
}
.white-co {
  color: #fff !important;
}
.blueBgRound {
  background: #0a377f;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  padding: 18px 0;
  margin-left: -4px;
}
.blueBg {
  background: #0a377f;
  padding: 18px 0;
}
@media only screen and (max-width: 991px) {
  .navigation {
    background-color: #fff;
    position: relative;
  }
  #labelToggel {
    display: block;
    cursor: pointer;
  }
  .menuNav {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menuNav a {
    display: block;
    margin: 0;
    background-color: #fff;
    text-decoration: none;
    color: #000;
  }
  .menuNav a:hover {
    display: block;
    border-bottom: 2px solid #0a377f;
    margin: 0;
    background-color: #fff;
    text-decoration: none;
    color: #000;
  }
  .blueBgRound {
    margin-left: 0;
    color: white;
    background: #0a377f;
  }
  #togglebox:checked + .menuNav {
    display: block;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: relative;
  }
  #togglebox:checked + .menuNav {
    display: block;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: relative;
  }
}
.navItem:hover,
.navItem:active {
  padding: 18px 0 15px 0;
  border-bottom: 3px solid #0a377f;
}
.blueBg:hover,
.blueBgRound:hover,
.blueBg:active,
.blueBgRound:active {
  padding: 18px 0 15px 0;
  border-bottom: 3px solid #fff;
}
