footer {
  color: #fff;
}
.email-box {
  width: 85%;

  position: relative;

  background: none;

  overflow: hidden;
}
.email-box input {
  width: 99%;

  height: 45px;

  margin-bottom: 7px;

  -webkit-border-radius: 100px;

  -moz-border-radius: 100px;

  border-radius: 100px;

  border: 1px solid rgba(78, 78, 84, 0.2);

  outline: none;

  padding-left: 20px;

  padding-right: 120px;

  /* z-index: 1; */

  font-weight: 500;

  font-size: 12px;

  letter-spacing: 0.67px;
}
.butn {
  background: #134892;
  background: linear-gradient(-45deg, #134892, #3870bd);
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 28px;
  border-radius: 30px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: all linear 400ms;
  border: none;
}
.box {
  background: #fff;
  width: 100%;
  height: 200px;
  display: flex;
  border-radius: 12px;
}
.auto-margin {
  margin: auto 0;
}
.email-box .butn {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 2;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 13px 18px;
  border-top-left-radius: 0;
  box-shadow: none;
  border-bottom-left-radius: 0;
}
.email-box .butn:focus:after,
.email-box .butn:focus:before {
  padding: 14px 18px 14px 18px;

  border-top-left-radius: 0;

  border-bottom-left-radius: 0;
}
.email-box .input .butn:active:before {
  padding: 14px 18px 14px 18px;

  border-top-left-radius: 0;

  border-bottom-left-radius: 0;
}
.email-box span {
  display: block;

  font-size: 13px;

  padding-left: 5px;
}
.divider {
  width: 100%;
  height: 20px;
}
@media screen and (max-width: 1199px) {
  .email-box {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .email-box {
    width: 100%;
  }
  .email-box span {
    color: #fff;

    text-align: center;
  }
  .email-box p {
    color: #000;

    text-align: center;
  }
}
.copyRight {
  color: white;
  background: rgb(19, 18, 18);
  margin-top: -2px;
  width: 100%;
  height: 7vh;
  padding-top: 20px;
}
.footerImage {
  max-width: 62%;
  padding-bottom: 30px;
}
.quickNav {
  color: #fff;
  text-decoration: none;
}
.quickNav:hover,
.quickNav:active {
  text-decoration: none;
  color: rgb(224, 228, 231);
}
.socialIcons {
  display: inline-block;
  background: #042b71;
  width: 40px;
  height: 40px;
  border-radius: 11px;
}

.social > svg {
  position: relative;
  top: 5px;
  left: 5px;
}
@media screen and (max-width: 768px) {
  #textBox {
    display: none;
  }
  .small-view {
    width: 100%;
    max-width: 100%;
  }
  .small-disapear {
    display: none;
  }
  .footerImage {
    max-width: 50%;
  }
  .footer-pad {
    margin-top: 15%;
  }
}
.fontSizeP {
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin-block-end: 16px !important;
}
.fontSizeh5 {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  line-height: 25px !important;
  margin-block-end: 8px !important;
}
.promotion-box{
  color: white;
  background: rgb(19, 72, 146,0.8);
  margin-top: -2px;
  align-content: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
  z-index: 99999
}